.Body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  padding: 5em;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 3rem;
    text-align: center;

    span {
      color: #3813c2;
    }
  }
  p {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1rem;
  }
}
