.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1em 5em;
  background: linear-gradient(to right, #ff6fd8, #3813c2);

  .logo {
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
  }
  nav {
    display: flex;
    gap: 1rem;
    color: #fff;
    cursor: pointer;
    align-items: center;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
